/*
Color palette:
https://colorhunt.co/palette/fdeedcffd8a9f1a661e38b29
primary: FDEEDC
secondary: FFD8A9
accent1: F1A661
accent2: E38829
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }

    header{
        height: 100vh;
        background-image: url("../images/miming1.png");
        background-size: cover;
        background-position: bottom right;
        background-color: #FDEEDC; /*primary color*/
        /* color: #fff; */
    }

    .header__img{
        display: none;
    }

    img{
        width: 400px;
        height: 400px;

    
    }
    .navColor{
        background-color: #FDEEDC !important;
    }
    .container-fluid{
        background-color: hsl(33, 89%, 93%);
        font-kerning: 1.5rem;
    }
    .nav-brand{
        padding: 0.5% 10% 0;
        text-transform: uppercase;
    }