/*
Color palette:
https://colorhunt.co/palette/fdeedcffd8a9f1a661e38b29
primary: FDEEC
secondary: FFD8A9
accent1: F1A661
accent2: E38829
*/

    body{
        text-align: center;
        font-family: 'Montserrat', sans-serif
    }
    img{
        width: 400px;
        height: 400px;
    }